@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url("../../public/images/bgimgw.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 768px) {
  body {
    background-image: url("../../public/images/bgimgm.png");
  }
}
.footerbg {
  background-image: url("../../public/images/footerimgw.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 768px) {
  .footerbg {
    background-image: url("../../public/images/footerimgm.png");
  }
}
.aboutbg {
  background-image: url("../../public/images/aboutbgw.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 768px) {
  .aboutbg {
    background-image: url("../../public/images/aboutbgm.png");
  }
}
.storybg {
  background-image: url("../../public/images/storybg.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .storybg {
    background-image: url("../../public/images/storybg.png");
    border-radius: 10px;
  }
}
